/* //"ヒラギノ角ゴ Pro W3", "メイリオ", */
body {
    font-family: "游ゴシック", "游ゴシック体", sans-serif;
}

.container {
    width: 1152px;
    margin: 0 auto;
}

/*HEADER*/
header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 119px;
    background: white;
    color: black;
}

.header-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: right;
    font-family: 游ゴシック体, Bold;
    font-size: 14px;
    margin-top: 46px;
}

.header-right li {
    display: inline;
    list-style-type: none;
}
.menu02 {
    margin-left: 25px;
}
.menu03{
    margin-left: 25px;
}
.menu04{
    margin-left: 27px; 
}

header img.logo {
    position: absolute;
    z-index: 2;
    left: 1px;
    top: 3px;
}

/* MAIN */
.top-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-image img.background{
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
   
}


.top-image img.sign {
    position: absolute;
    z-index: 2;
    margin-left: 50px;
    right: 146.5px;
    top: 363.5px;
    align-items: center;
    
}
.main p{
    display: flex;
    margin-top: 8px;
    text-align: left;
    margin-left: -63px;
    font-family: 游ゴシック体, Medium;
    font-size: 24px;
}

/* ARTICLE */
.img-container{
    width: 1045px; 
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.img-container h2{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}

.img-children{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.img-children li {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-left: -28px;
    margin-bottom: 30px;
    width: 320px;
    height:406px;
  }
  
.img-children li:hover{
    box-shadow: 0 0 8px gray;
}
.img-children p {
    margin: 6px;
}
.img-children img{
    height:206px;
    width:320px; 
}

.readMore{
    color: black;
    text-decoration: none;
    text-align: right;
    margin-top: 90px;
}
/* FOOTER */
footer{
    display: flex;
    height: 128px;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 92px;
}
footer p {

    text-align: center;
}


@media screen and (min-width:960px) and (max-width:1279px){
    .header{
       
    }
}
